# Create vault.env file and put sensitive credentials/info there
PUBLIC_KEY="Your public key from Chrome Webstore Dashboard (Without 'BEGIN...' and 'END...' statements and remove newlines so it would be oneliner)"
OAUTH_CLIENT_ID="OAuth 2.0 credentials from Google API Console"