@import '../../../../styles/common/page-variables.scss';

.react-root-disliked-list-container {
    height: 100%;
    color: $main-color-text;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50 20 0 20;
}
