@import './common/page-variables.scss';
@import './common/page-mixins.scss';

@font-face {
    font-family: 'Oswald-Medium';
    font-style: normal;
    font-weight: 400;
    src: url('chrome-extension://__MSG_@@extension_id__/assets/fonts/Oswald-Medium.ttf'); 
}

body {
    ytd-browse {
        position: relative;
    }

    #extension-root-disliked-popup {
        position: fixed;
        background: $list-background-color;
        width: 80%;
        height: 90%;
        margin-left: auto;
        margin-right: auto;
        top: 70px;
        left: 240px;
        right: 0;
        z-index: -1;
    }

    #extension-root-disliked-section {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    [data-disliked-button] {
        animation: insertDislikedButton .5s ease-in-out;
    }

    &.body_disliked-list-opened {
        overflow: hidden;

        ytd-page-manager {
            position: relative;
        }

        ytd-browse {
            visibility: collapse;
        }

        #extension-root-disliked-popup {
            z-index: 3000;
        }
    }
}

@keyframes insertDislikedButton {
    from {
        transform: scale(0.5);
        opacity: 0;
        background: $list-background-color;
    }
}

@include if-dark-theme () {
    body #extension-root-disliked-popup {
        box-shadow: 0 5px 10px $list-shadow-color_dark;
    }
}

@include if-light-theme () {
    body #extension-root-disliked-popup{
        box-shadow: 0 5px 10px $list-shadow-color_light;
    }
}
