@import './common/page-variables.scss';
@import './common/page-mixins.scss';

$main-color-text: #ffffff;
$secondary-color-text: #aaa;
$main-background-color: #121212;
$main-text-font: Roboto, 'Noto', sans-serif;

html {
    width: 400px;
    color: #ffffff;
    background-color: #212121;
    font-size: 10px;

    body {
        height: 100%;
    }
}

#react-popup-root {
    height: 100%;

    .pre-auth-screen {
        .message-with-button {
            margin: 20px;
        }
    
        .extension-logo {
            font-size: 35px;
        }
    }
}
