@import '../../../../../styles/common/page-variables.scss';

.disliked-video-item {
    &:hover {
        background-color: var(--yt-spec-badge-chip-background);
    }

    .item-index {
        display: flex;
        align-items: center;
        color: $secondary-color-text;
        padding-left: 10px;
        padding-right: 10px;
    }

    .disliked-video-thumbnail {
        margin: 0 8px 0 0;
    }

    .item-metadata {
        border-bottom: 1px solid var(--yt-spec-10-percent-layer);
        padding: 16px 0;
        margin-left: 8px;
    }

    .item-title {
        margin-bottom: 8px;
    }
}
