@import '../../../../styles/common/page-variables.scss';

.disliked-videos-info-panel {
    padding: 25px;

    a {
        text-decoration: none;

        &,
        &:visited {
            color: $main-color-text;
        }
    }
    
    .info-panel-header {
        font-size: 2.4rem;
        font-weight: 400;
    }

    .info-panel-videos-count {
        margin-top: 10px;
        color: $secondary-color-text;
        font-weight: 300;
    }

    .channel-title-container {
        display:flex;
        flex-direction: column;
        justify-content: center;
        font-weight: 500;
    }

    .MuiAvatar-root {
        width: 48px;
        height: auto;
    }

    .MuiDivider-root {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}