@import '../../../../../styles/common/page-variables.scss';
@import '../../../../../styles/common/page-mixins.scss';

.disliked-videos-info-panel {
    padding: 25px;
    
    .info-panel-header {
        font-size: 2.4rem;
        font-weight: 400;
    }

    .info-panel-videos-count {
        margin-top: 10px;
        color: $secondary-color-text;
        font-weight: 300;
    }

    .MuiDivider-root {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
