@import '../../../../../styles/common/page-variables.scss';
@import '../../../../../styles/common/page-mixins.scss';

.disliked-videos-info-panel {
    padding: 25px;

    a {
        text-decoration: none;

        &,
        &:visited {
            color: $main-color-text;
        }
    }
    
    .info-panel-header {
        font-size: 2.4rem;
        font-weight: 400;
    }

    .info-panel-videos-count {
        margin-top: 10px;
        color: $secondary-color-text;
        font-weight: 300;
    }

    .channel-inline {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .channel-title-container {
        font-weight: 500;
    }

    .channel-logout {
        width: 25px;
        cursor: pointer;
    }

    .MuiAvatar-root {
        width: 48px;
        height: auto;
    }

    .MuiDivider-root {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@include if-dark-theme () {
    .channel-logout:hover {
        i {
            color: darken(#ffffff, 15%);
        }
    }
}

@include if-light-theme () {
    .channel-logout:hover {
        i {
            color: lighten(#000000, 15%);
        }
    }
}