@font-face {
    font-family: 'Oswald-Medium';
    font-style: normal;
    font-weight: 400;
    src: url('chrome-extension://__MSG_@@extension_id__/assets/fonts/Oswald-Medium.ttf'); 
}

$main-color-text: var(--yt-spec-text-primary);
$secondary-color-text: var(--yt-spec-text-secondary);
$main-background-color: var(--yt-app-background);
$main-text-font: var(--paper-font-subhead_-_font-family);
$list-background-color: var(--yt-spec-brand-background-solid);
$list-shadow-color_dark: var(--yt-spec-themed-overlay-background);
$list-shadow-color_light: var(--yt-icon-color);
