@import '../../../../styles/common/page-variables.scss';

.close-list-button {
    position: absolute;
    top: 20px;
    right: 10px;
    color: $main-color-text;
    cursor: pointer;

    .MuiButtonBase-root {
        min-width: 25px;
    }

    .MuiButton-label {
        width: 25px;
        height: 25px;
    }
}
