@import '../../../../styles/common/page-variables.scss';

.react-root-disliked-list-container {
    position: relative;
    height: 100%;
    margin: 50 20 0 20;
    color: $main-color-text;

    &,
    Button {
        font-size: $main-font-size;
        font-family: $main-text-font;
    }
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
