.pre-auth-screen {
    .extension-info {
        font-family: 'Oswald-Medium', sans-serif;
        font-size: 50px;
        margin-bottom: 25px;
    }

    .MuiButton-containedPrimary {
        background-color: #a80000;

        &:hover {
            background-color: #630000;
        }
    }
}
