.message-with-button {
    text-align: center;
    margin: 0 20%;

    .message-with-button-msg {
        margin-bottom: 20px;
        font-size: 110%;
    }

    .MuiButton-startIcon {
        margin-top: -5px;
    }
}